.header-search form {
    position: relative;
  }

  .header-search form .input {
    width: calc(100% - 260px);
    margin-right: -4px;
  }
  
  .header-search form .search-btn {
    height: 40px;
    width: 100px;
    background: #D10024;
    color: #FFF;
    font-weight: 700;
    border: none;
    border-radius: 0px 40px 40px 0px;
  }