<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  
  <a href="/">
    <img alt="Flacon Delivery" src="../../assets/falcon.png" height="75" width="75">
</a>
<form class="form-inline" method="get" action="/search">
                <input type="text" name="query" class="form-control" placeholder="Search for product" id="Query" value=""><button class="search-btn"><i class="fa fa-search"></i>Search</button>
</form>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" style="padding-left: 150px;" id="navbarSupportedContent">
      <ul class="nav navbar-nav navbar-right">
        <div *ngIf="showProfile === false" style="text-align:center;">
        <li>
          <a class="nav-link navbar-text" routerLink="/registration"><b>Signup</b></a>
        </li>
        <li>
          <a class="nav-link" routerLink="/userlogin"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
      </div>
    
        <div class="btn-group mr-3" *ngIf="showProfile">

          <button type="button" class="btn btn-primary" (click)="myProfile()"><b>User Details</b></button>
          
        </div>
       
        <li class="nav-item active">
            <a class="nav-link" href="cart"><i class="fa fa-shopping-cart"></i><b>Cart</b></a>          
        </li>
        <li>
          <a class="nav-link" href="wishlist"><i class="fa fa-heart-o"></i>Wishlist</a>
        </li>
          <li class="nav-item active">
            <a class="nav-link" href="admin"><i class="fa fa-user-circle"></i><b>Admin</b></a>
          </li>
      </ul>
  
    </div>
  </nav>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header" style="background: deepskyblue; font-size: xx-large;">
      <h4 class="modal-title"  id="modal-basic-title">LogIn & Registration</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
   
    </ng-template>
     <div> <pre>{{closeResult}}</pre></div>
  
  
 