<form [formGroup]="myForm">
    <div class="form-group">
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <!-- <input type="text" placeholder="Enter Username" name="uname" required> -->
            <input type="text" formControlName="Uname" class="form-control" placeholder="Enter Username" />
            <p *ngIf="Uname.touched && Uname.invalid">
                <span *ngIf="Uname.errors.required">username is a must!</span>
            </p>

            <label for="psw"><b>Password</b></label>
            <!-- <input type="password" placeholder="Enter Password" name="psw" required> -->
            <input type="password" formControlName="password" class="form-control" placeholder="Enter Password" />
            <p *ngIf="password.touched && password.invalid">
                <span *ngIf="password.errors.required">Password is a must!</span>
                <span *ngIf="password.errors.required">Minimum 8 chars!</span>
            </p>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>

           <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </div>
    </div>
</form>