<div class="container body-content clearfix">
    <p class="text-success"></p>
<div class="row">
<div class="col-md-3">
<div class="card">
<div class="card-header">Your account</div>
<div class="card-body">
<ul class="list-unstyled">
    <li><a href="/user">Account Dashboard</a></li>
    <li><a href="/user/info">Account Information</a></li>
    <li><a href="/user/address">Address Book</a></li>
    <li><a href="/user/ordershistory">Order History</a></li>
    <li><a href="/user/wishlist">Wish List</a></li>
</ul>
</div>
</div>

</div>
<div class="col-md-9">
<h2>Account Dashboard</h2>
<hr>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Account Information</div>
            <div class="card-body">
                Team-10 <br>
                team10@gmail.com
                <p class="text-right">
                    <a href="/user/info">Edit</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Security</div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-md-5">Password:</dt>
                    <dd class="col-md-7">
                            <a class="btn-bracketed" href="/user/change-password">Change</a>
                    </dd>
                    
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Default shipping address</div>
            <div class="card-body">
                
<div>
<p>
    <strong>Sample </strong><br>
   
</p>
<p class="text-right">
<a href="/user/address">Manage address</a>
</p>
</div>

            </div>
        </div>
    </div>
</div>
</div>
</div>


</div>