<div class="container body-content clearfix">
        
    <div class="row">
        <div class="col-md-3">
            <div class="card">
        <div class="card-header">Your account</div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li><a href="/user">Account Dashboard</a></li>
                <li><a href="/user/info">Account Information</a></li>
                <li><a href="/user/address">Address Book</a></li>
                <li><a href="/user/orders">Order History</a></li>
                <li><a href="/user/wishlist">Wish List</a></li>
            </ul>
        </div>
    </div>
    
        </div>
        <div class="col-md-9">
            <h2>Address Book</h2>
            <hr>
                <div>
                    <strong>Sample </strong><br>
                    Sample <br>
                    Accra <br>
                    Phone: Sample
                </div>
                <div>
                        <span class="label label-primary">Default shipping address</span>
                    <a href="/user/address/edit/398">Edit</a><span> | </span>
                    <form method="post" style="display: inline" action="/Core/UserAddress/Delete/398">
                        <button type="submit" class="btn btn-link" style="padding: 0">Delete</button>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8BZPTaoNFOJNlV1y9d-kklVqLGttUckJMW9uJSPDRrWM2xerDBD9XxFQK5YX0PEgay2UB7Y600ehi3VwNkulnQJ2WXfG0ZdMzeFUtIhD5w_CyL5_GYmB8Lj629xrAsqQPGlDmM99ER-6m4FOyg6bnYpPX4TijhvJ5ryGEMkzidluZLjHSxzuUXlYF1aHZscDYw"></form>
                </div>
                <hr>
        </div>
    </div>
    
        </div>