<div class="row">
    <div class="col-md-3">
        <div class="card">
    <div class="card-header">Your account</div>
    <div class="card-body">
        <ul class="list-unstyled">
            <li><a href="/user">Account Dashboard</a></li>
            <li><a href="/user/info">Account Information</a></li>
            <li><a href="/user/settings">My Settings</a></li>
            <li><a href="/user/orders">Order History</a></li>
            <li><a href="/user/wishlist">Wish List</a></li>
        </ul>
    </div>
</div>

    </div>
    <div class="col-md-9">
        <h2>Order History</h2>
        <hr>
        <table class="table table-striped order-history">
            <tbody><tr>
                <th>Order Id</th>
                <th>Date</th>
                <th>Products</th>
                <th>SubTotal</th>
                <th>Status</th>
            </tr>
                <tr>
                    <td><a href="/user/orders/1137">1137</a></td>
                    <td>8/17/2020</td>
                    <td>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="/user-content/3a3f587c-9c70-4e68-b480-20829a9f3e95.jpg">
                                </div>
                                <div class="col-md-9">
                                     <p>iPhone 6s 16GB Gray</p>
                                     <p>Quantity 2</p>
                                </div>
                            </div>
                    </td>
                    <td>998,00 zł</td>
                    <td>New</td>
                </tr>
               
        </tbody></table>
    </div>
</div>