<form [formGroup]="registrationForm">

    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label>Firstname</label>
       <input type="text" class="form-control" formControlName="FirstName">
     <p class="alert alert-danger" *ngIf="FirstName.touched && FirstName.invalid">
          <span class="alert alert-danger" *ngIf="FirstName.errors.required">Firstname cannot be empty</span>
     </p>
        <label>Lastname</label>
        <input type="text" class="form-control" formControlName="LastName">
      <p class="alert alert-danger" *ngIf="LastName.touched && LastName.invalid">
           <span class="alert alert-danger" *ngIf="LastName.errors.required">Lastname cannot be empty</span>
     </p>

     <label>Email</label>
        <input type="text" class="form-control" formControlName="Email">
      <p class="alert alert-danger" *ngIf="Email.touched && Email.invalid">
           <span class="alert alert-danger" *ngIf="Email.errors.required">Email cannot be empty</span>
           <span class="alert alert-danger" *ngIf="Email.errors.pattern">Email should be valid</span>
     </p>

     <label>Mobile Number</label>
     <input type="text" class="form-control" formControlName="MobileNumber">
   <p class="alert alert-danger" *ngIf="MobileNumber.touched && MobileNumber.invalid">
        <span class="alert alert-danger" *ngIf="MobileNumber.errors.required">MobileNumber cannot be empty</span>
        <span class="alert alert-danger" *ngIf="MobileNumber.errors.pattern">MobileNumber should be valid</span>
        <span class="alert alert-danger" *ngIf="MobileNumber.errors.minlength">MobileNumber should has minimum length 10</span>
   </p>

     <label>Address</label>
        <input type="text" class="form-control" formControlName="Address">
      <p class="alert alert-danger" *ngIf="Address.touched && Address.invalid">
           <span class="alert alert-danger" *ngIf="Address.errors.required">Address cannot be empty</span>
     </p>

     <label>Password</label>
       <input type="password" class="form-control"formControlName="Password" >
       <p class="alert alert-danger" *ngIf="Password.touched && Password.invalid">
        <span class="alert alert-danger" *ngIf="Password.errors.required">Password cannot be empty</span>
        <span class="alert alert-danger" *ngIf="Password.errors.minlength">Password should has minimum length 7</span>
    </p>

    <label> Confirm Password</label>
    <input type="password" class="form-control"formControlName="confirmpassword" >
    <p class="alert alert-danger" *ngIf="confirmpassword.touched && confirmpassword.invalid">
     <span class="alert alert-danger" *ngIf="confirmpassword.errors.required"> Confirm Password cannot be empty</span>
     <span class="alert alert-danger" *ngIf="confirmpassword.errors.minlength">Confirm Password should has minimum length 7</span>
 </p>


  
      


        <hr>

        <button type="button" style="margin-left: 39%;" [disabled]="registrationForm.invalid"
          class="btn btn-outline-success" (click)="registeruser()"><b>Register</b></button>
          <div style="text-align: center;" *ngIf="nomatch">
          <span style="border:1px solid red;">
           <b> 1. Password and Confirm Password Does Not Matches <br/>
            2. Check Your Entries Again
           </b>
          </span>
      </div>

      <div class="container signin">
        <p>Already have an account? <a href="userlogin">Sign in</a>.</p>
      </div>
      
</form>