<div id="top-header">
  <div class="container">
    <a href="/login"><i class="fa fa-user-circle" style="padding-left:80%"></i> Log in</a>
    <a href="/admin"><i class="fa fa-user-circle" style="padding-left:80%"></i> Admin</a>
  </div>
</div>
<!-- Search bar and logo -->

<div class="topnav1">
    <div class="row">
          <div class="col-md-3">
              <a href="/">
                  <img alt="Flacon Delivery" src="../../assets/falcon.png" height="75" width="75">
              </a>
          </div>
          <div class="col-md-6">
            <div class="header-search">
              <form class="form-inline" method="get" action="/search">
                <input type="text" name="query" class="form-control" placeholder="Search here..." id="Query" value="">
              </form>
            </div>
          </div>
                

          
            <div class="wishlist-badge badge-icons pull-right">
              <a href="/wishlist"><i class="fa fa-heart-o"></i></a>
              
              <span class="badge badge-sea rounded-x">0</span>
              <div class="badge-open">
                </div>
            

           
              <div class="cart-badge badge-icons pull-right">
                <a href="cart"><i class="fa fa-shopping-cart"></i></a>
                <span class="badge badge-sea rounded-x">0</span>
                
                <div class="badge-open">
                  </div>
             </div>
            </div>
          </div>

</div>




<!-- NAVIGATION View Home,Category and other views -->


<div class="topnav" id="myTopnav">
      <ul class="main-nav nav py-3">
        <li class="active"><a routerLink="">Home</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Laptop</a></li>
        <li><a href="#">Contact Us</a></li>

      </ul>
      <!-- /NAV -->   
  </div>
  <!-- /container -->

