<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">About Us</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
              <ul class="footer-links">
                <li><a href="#"><i class="fa fa-phone"></i>+91-9090909090</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i>team10@gmail.com</a></li>
              </ul>
            </div>
          </div>
  
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Categories</h3>
              <ul class="footer-links">
                <li><a href="#">Electronic</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Toys</a></li>
              </ul>
            </div>
          </div>
  
          <div class="clearfix visible-xs"></div>
  
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Information</h3>
              <ul class="footer-links">
                <li><a href="#">About Us</a></li>
              </ul>
            </div>
          </div>
  
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Service</h3>
              <ul class="footer-links">
                <li><a href="user">My Account</a></li>
                <li><a href="cart">View Cart</a></li>
                <li><a href="wishlist">Wishlist</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /top footer -->
  </footer>
  <!-- /FOOTER -->