<div class="container body-content clearfix">
        
    <div class="row">
        <div class="col-md-3">
            <div class="card">
        <div class="card-header">Your account</div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li><a href="/user">Account Dashboard</a></li>
                <li><a href="/user/info">Account Information</a></li>
                <li><a href="/user/address">Address Book</a></li>
                <li><a href="/user/orders">Order History</a></li>
                <li><a href="/user/wishlist">Wish List</a></li>
            </ul>
        </div>
    </div>
    
        </div>
        <div class="col-md-9">
            <h2>Account Information</h2>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <form method="post" role="form" action="/user/info" novalidate="novalidate">
                        <div class="text-danger validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
                            </ul></div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label" for="Email">Email</label>
                            <div class="col-md-10">
                                <input readonly="" class="form-control" type="text" data-val="true" data-val-required="The Email field is required." id="Email" name="Email" value="admin@SimplCommerce.com">
                                <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group row">

                            <label class="col-md-2 col-form-label" for="First Name">First Name</label>
                            <div class="col-md-10">
                                <input class="form-control" type="text" data-val="true" data-val-required="The First Name field is required." id="FirstName" name="FName" value="Saurabh">
                                <span class="text-danger field-validation-valid" data-valmsg-for="FullName" data-valmsg-replace="true"></span>
                            </div>

                                <label class="col-md-2 col-form-label" for="Last Name">Last Name</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" data-val="true" data-val-required="The last Name field is required." id="LastName" name="LName" value="Mishra">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="FullName" data-valmsg-replace="true"></span>
                                </div>

                                <label class="col-md-2 col-form-label" for="Last Name">Mobile Number</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="number" data-val="true" data-val-required="The Mobile Number Name field is required." id="MbNum" name="FullName" value="95095194xx">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="FullName" data-valmsg-replace="true"></span>
                                </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-md-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
        </div>
     </div>
</div>
    
    
