<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>
<div id="divhead">
   <img src="assets\images\bird-logo.jpg" width="100px" id="img">
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>DashBoard</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a routerLink ="/product" routerLinkActive = "active">Products</a></li>
        <li><a routerLink="/retailer" routerLinkActive = "active">Vendors</a></li>
        <li><a routerLink="/orders" routerLinkActive = "active">Orders</a></li>
      </ul><br>
    </div>

    <div class="col-sm-9">
      
          <div>
           <h4>Last checked</h4>
           <p>12.02.2020</p>
          </div>
              <hr/>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Contact - 011 23456321</p>
</footer>

</body>
</html>

<router-outlet></router-outlet>
