<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron text-center">
          <h1 class="display-3">THANK YOU!</h1>
          <p class="lead"><strong>Please check your email</strong> for order confirmation.</p>
          <hr>
          <p>
  
          <!-- <p>Order Id : <strong>{{orderId}}</strong></p> -->
        </div>
  
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Order Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of products">
            <td>
              <img [src]="p.Pictures" alt="{{p.Product_Name}}" class="img-thumbnail" width="100px">
            </td>
            <td>{{p.Product_Name}}</td>
            <td>{{p.Unit_price | currency:'INR'}}</td>
            <td>{{p.QuantityOrdered}}</td>
            <td>{{p.Order_Status}}</td>
          </tr>
  
          <tr class="border-0">
            <td style="border: none;"></td>
            <td></td>
            <td>TOTAL</td>
            <td>{{cartTotal | currency:'INR'}}</td>
  
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>